{% extends 'dashboard_base.html' %} {% load widget_tweaks %} {% load static %}
{% block content %}
<link href="{% static 'css/teacher/style.css' %}" rel="stylesheet" />

<br /><br />

{% if user.userprofile.role == 'teacher' %}
<div class="container">
  <div class="row">
    <div class="col-md-4 col-xl-4">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Student</h6>
          <h2 class="text-right">
            <i class="fas fa-user-graduate f-left"></i
            ><span>{{total_student}}</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-4">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Course</h6>
          <h2 class="text-right">
            <i class="fas fa-book f-left"></i><span>{{total_course}}</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-4">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Questions</h6>
          <h2 class="text-right">
            <i class="fas fa-question-circle f-left"></i
            ><span>{{total_question}}</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col-md-4 col-xl-6">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Course Available</h6>
          <h2 class="text-right">
            <i class="fas fa-book f-left"></i><span>{{total_course}}</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-6">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Questions</h6>
          <h2 class="text-right">
            <i class="fas fa-question-circle f-left"></i
            ><span>{{total_question}}</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
