{% extends "dashboard_base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
{% include "common/common_link.html" %}
<br><br>
<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Courses</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
  
            <th>Course Name</th>
            
            <th>Take Exam</th>
          </tr>
        </thead>
        {% for course in courses %}
        <tr>
  
          <td> {{course.name}}</td>
          
            <td>
                <a class="btn btn-danger btn-xs" href="{% url 'take_exam' course.id  %}">
                    <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}